<div ng-controller="AdminController">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Fans</h5>
                    <p class="card-text">Shows the list of fans in the database.</p>
                    <a href="#!editFanForAdmin" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Critics</h5>
                    <p class="card-text">Shows te list of critics in the database.</p>
                    <a href="#!editCriticForAdmin" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Advertisement Recruiters</h5>
                    <p class="card-text">Shows the list of Advertisement Recruiter in the database.</p>
                    <a href="#!editAdRecruiterForAdmin" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Theatre Managers</h5>
                    <p class="card-text">Shows the list of theatre managers in the database.</p>
                    <a href="#!editTheatreManagerForAdmin" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Movies</h5>
                    <p class="card-text">Shows the list of movies in the database.</p>
                    <a href="#!editMovieForAdmin" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Actors</h5>
                    <p class="card-text">Shows the list of actors in the database.</p>
                    <a href="#!editActorForAdmin" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List of Reviews</h5>
                <p class="card-text">Shows the list of reviews in the database.</p>
                <a href="#!editReviewForAdmin" class="btn btn-primary">Show</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List of Theatres</h5>
                <p class="card-text">Shows the list of theatre in the database.</p>
                <a href="#!editTheatreForAdmin" class="btn btn-primary">Show</a>
            </div>
        </div>
    </div>
</div>